In [28]:
import preprocessing as pre
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score

In [29]:
data = pd.read_csv('red_wine_quality.csv')

In [30]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,NaN,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
fixed acidity           500 non-null float64
volatile acidity        500 non-null float64
citric acid             500 non-null float64
residual sugar          493 non-null float64
chlorides               489 non-null float64
free sulfur dioxide     494 non-null float64
total sulfur dioxide    500 non-null float64
density                 500 non-null float64
pH                      500 non-null float64
sulphates               457 non-null float64
alcohol                 500 non-null float64
quality                 500 non-null int64
dtypes: float64(11), int64(1)
memory usage: 47.0 KB

In [34]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,500.00000,500.000000,500.000000,493.000000,489.000000,494.000000,500.000000,500.000000,500.000000,457.000000,500.000000,500.000000
mean,8.68640,0.533370,0.302460,2.570183,0.093712,14.972672,51.444000,0.997420,3.292860,0.693632,10.120800,5.588000
std,1.88393,0.176169,0.216569,1.332967,0.059889,9.652258,33.716947,0.001687,0.155124,0.207507,0.999663,0.789622
min,4.60000,0.180000,0.000000,1.200000,0.039000,3.000000,8.000000,0.991200,2.740000,0.330000,8.700000,3.000000
25%,7.40000,0.400000,0.107500,1.900000,0.073000,7.000000,25.000000,0.996400,3.187500,0.560000,9.400000,5.000000
50%,8.10000,0.530000,0.275000,2.200000,0.082000,12.000000,42.000000,0.997200,3.290000,0.640000,9.800000,5.000000
75%,9.82500,0.645000,0.480000,2.700000,0.093000,20.000000,67.000000,0.998400,3.380000,0.780000,10.500000,6.000000
max,15.60000,1.330000,1.000000,15.500000,0.611000,68.000000,165.000000,1.003200,3.900000,2.000000,14.000000,8.000000

In [35]:
data.quality.value_counts()

5    239
6    184
7     52
4     16
8      8
3      1
Name: quality, dtype: int64

Замінимо пропущені значення:

In [36]:
data['residual sugar'] = pre.replace_centr_val(data['residual sugar'], 'mean')
data['chlorides'] = pre.replace_centr_val(data['chlorides'], 'median')
data['free sulfur dioxide'] = pre.replace_centr_val(data['free sulfur dioxide'], 'moda')

/home/redreckless/Документы/UData/ПРАКТИКА/ML/practice1/red_wine/preprocessing.py:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  column[i]=central

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
fixed acidity           500 non-null float64
volatile acidity        500 non-null float64
citric acid             500 non-null float64
residual sugar          500 non-null float64
chlorides               500 non-null float64
free sulfur dioxide     500 non-null float64
total sulfur dioxide    500 non-null float64
density                 500 non-null float64
pH                      500 non-null float64
sulphates               457 non-null float64
alcohol                 500 non-null float64
quality                 500 non-null int64
dtypes: float64(11), int64(1)
memory usage: 47.0 KB

Проведемо масштабування та стандартизацію:

In [38]:
data['total sulfur dioxide'] = pre.mashtab(data['total sulfur dioxide'])
data['free sulfur dioxide'] = pre.standart(data['free sulfur dioxide'])

In [39]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,-0.400777,0.165605,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,1.050938,0.375796,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,0.013999,0.292994,0.9970,3.26,NaN,9.8,5
3,11.2,0.28,0.56,1.9,0.075,0.221386,0.331210,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,-0.400777,0.165605,0.9978,3.51,0.56,9.4,5

Попрацюємо з тагрет-стовпцем:

In [40]:
bins = (0, 6.5, 8)
group_names = ['bad', 'good']
data['quality'] = pd.cut(data['quality'], bins = bins, labels = group_names)

In [41]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,-0.400777,0.165605,0.9978,3.51,0.56,9.4,bad
1,7.8,0.88,0.00,2.6,0.098,1.050938,0.375796,0.9968,3.20,0.68,9.8,bad
2,7.8,0.76,0.04,2.3,0.092,0.013999,0.292994,0.9970,3.26,NaN,9.8,bad
3,11.2,0.28,0.56,1.9,0.075,0.221386,0.331210,0.9980,3.16,0.58,9.8,bad
4,7.4,0.70,0.00,1.9,0.076,-0.400777,0.165605,0.9978,3.51,0.56,9.4,bad

In [42]:
label_quality = LabelEncoder()
data['quality'] = label_quality.fit_transform(data['quality'])

In [43]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,-0.400777,0.165605,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,1.050938,0.375796,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,0.013999,0.292994,0.9970,3.26,NaN,9.8,0
3,11.2,0.28,0.56,1.9,0.075,0.221386,0.331210,0.9980,3.16,0.58,9.8,0
4,7.4,0.70,0.00,1.9,0.076,-0.400777,0.165605,0.9978,3.51,0.56,9.4,0

Замінимо останній стовпець, що має пропущені значення результатом лінійної регресії та методу найближчого сусіда.

In [44]:
new_data_lin = pre.replace_lin_reg(data, 'sulphates')

In [45]:
new_data_knn = pre.replace_knn(data, 'sulphates', 100)

2
8
11
13
17
37
38
52
73
87
89
96
105
128
133
136
143
149
160
207
215
216
226
266
290
296
297
317
322
327
347
377
395
403
415
424
429
439
441
446
472
473
489

За допомогою RandomForest перевіримо точність:

In [46]:
def compare_replace(new_data):
    y = new_data['quality']
    X = new_data.drop('quality', axis = 1)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
    
    sc = StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.fit_transform(X_test)
    
    rfc = RandomForestClassifier(n_estimators=200)
    rfc.fit(X_train, y_train)
    
    pred_rfc = rfc.predict(X_test)
    print(f'Accuracy: {accuracy_score(y_test, pred_rfc)}')
    rfc_eval = cross_val_score(estimator = rfc, X = X_train, y = y_train, cv = 10)
    print(f'Accuracy CrossValidation: {rfc_eval.mean()}')

In [47]:
print('Linear Regression')
compare_replace(new_data_lin)
print('KNN')
compare_replace(new_data_knn)

Linear Regression
Accuracy: 0.92
Accuracy CrossValidation: 0.9200515947467167
KNN
Accuracy: 0.91
Accuracy CrossValidation: 0.9149874921826143